/**@

@# Icons;

@markup <span class="icon">WRONG</span>;

@description
  BLOCK Lorem ipsum
  dolar sit amet;


@description
  rick Lorem ipsum
  dolar sit amet;

@class .link3;
@class .link4;

@--

@markup <a class="{{class}}">link</a>;

@title section title;

@description
  SECTION rick Lorem ipsum
  dolar sit amet;

@class .icon-1;
@class .icon-2;
@class .icon-3;

@description
  rick Lorem ipsum
  dolar sit amet;

@/-


@--

@markup <a class="{{class}}">link</a>;

@title Sectoin two title;

@description lorem ipsum dolar ist amet;

@class .icon-1;
@class .icon-2;
@class .icon-3;

@description
  rick Lorem ipsum
  dolar sit amet;

@/-

@*/


.icon-1{
  color: red;
}

.icon-2{
  color: green;
}
.icon-2{
  color: purple;
}






/**@

@#Icons
@markup <a>link</a>;

@description
  Lorem ipsum d
  olar sit amet;

@class .fist;

@markup
<a>link</a>;

@*/



/**@iconset-custom */
// @markup <span class="{{class}}" aria-hidden="true"></span>
.glyphicon-minus                  { &:before { content: "\2212"; } }
.glyphicon-cloud                  { &:before { content: "\2601"; } }
/**@info content: "\2709"*/
.glyphicon-envelope               { &:before { content: "\2709"; } }
.glyphicon-pencil                 { &:before { content: "\270f"; } }
/**@info content: "\2709" */
.glyphicon-glass                  { &:before { content: "\e001"; } }
.glyphicon-music                  { &:before { content: "\e002"; } }
//   @info content: "\2709" ;
.glyphicon-search                 { &:before { content: "\e003"; } }
.glyphicon-heart                  { &:before { content: "\e005"; } }
.glyphicon-star                   { &:before { content: "\e006"; } }
.glyphicon-star-empty,
.glyphicon-star-full             { &:before { content: "\e007"; } }
/**@/iconset */

/**@iconset-social */
.glyphicon-minus                  { &:before { content: "\2212"; } }
.glyphicon-cloud                  { &:before { content: "\2601"; } }
/**@info content: "\2709"*/
.glyphicon-envelope               { &:before { content: "\2709"; } }
.glyphicon-pencil                 { &:before { content: "\270f"; } }
/**@info content: "\2709" */
.glyphicon-glass                  { &:before { content: "\e001"; } }
.glyphicon-music                  { &:before { content: "\e002"; } }
//   @info content: "\2709" ;
.glyphicon-search                 { &:before { content: "\e003"; } }
.glyphicon-heart                  { &:before { content: "\e005"; } }
.glyphicon-star                   { &:before { content: "\e006"; } }
.glyphicon-star-empty,
.glyphicon-star-full             { &:before { content: "\e007"; } }
/**@/iconset */

/**@iconset-brands */
.glyphicon-minus                  { &:before { content: "\2212"; } }
.glyphicon-cloud                  { &:before { content: "\2601"; } }
/**@info content: "\2709"*/
.glyphicon-envelope               { &:before { content: "\2709"; } }
.glyphicon-pencil                 { &:before { content: "\270f"; } }
/**@info content: "\2709" */
.glyphicon-glass                  { &:before { content: "\e001"; } }
.glyphicon-music                  { &:before { content: "\e002"; } }
//   @info content: "\2709" ;
.glyphicon-search                 { &:before { content: "\e003"; } }
.glyphicon-heart                  { &:before { content: "\e005"; } }
.glyphicon-star                   { &:before { content: "\e006"; } }
.glyphicon-star-empty,
.glyphicon-star-full             { &:before { content: "\e007"; } }
/**@/iconset */